
.about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 17px;
}





.about-title img{

    width: 400px;
}

.about