
.about{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 17px;
}





.about-title img{

    width: 400px;
}

.about-title{
padding: 0px 30px;
font-size: 80px;
font-weight: 600;

}
.about-title h1{


}