
*{
    margin: 0;
    padding: 0;
}

body{

    height: 100vh;
    background: #161513;
    color: white;
}

img {
    width: 40px;
}
.navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 20px 17px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}